<p>This is a list of features I'd like to haveon X11R7.1:</p>
<ul>
  <li>Use No Machine's NX Libraries / FreeNX. Exporting X11 is very 
nice but requieres a lot of bandwidth. NX libraries are GPL, I hope 
there are no license conflicts with MIT license. Maybe NX people are 
willing to allow the usre of their libraries under MIT license for 
Xorg?</li>
  <li>VNC server support out-of-the-box, including NX compression. 
Cool if auth could be via LDAP, PAM or something else besides passwd 
accounts.</li>
</ul>
